@import "tailwindcss";
body{
    background-color: #7ba5a3;
}
.Main{
    display: flex;
    padding: 30px;
}

.main-container2{
    display: flex;
    margin: 0 auto;
    gap: 8px;
}

.checked,
.unchecked{
    max-width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4px;
}
.checked{
    padding: 4px;
    background-color: rgba(13, 224, 83, 0.76);
    border-radius: 4px;
    color: #fff;
    input{
        text-align: center;
        accent-color: blue;
        outline: none;
        border: 1px solid;
        border-radius: 12px;
        padding: 2px;
    }
    button{
        background-color: rgb(212, 18, 18);
        padding: 4px;
        border-radius: 4px;
        color: #222;
    }
    button:hover{
        cursor: pointer;
        background-color: rgb(255, 0, 0);
        
    }
    
}
.unchecked{
    input{
        outline: none;
        border: 1px solid;
        border-radius: 12px;
        padding: 2px;
    }
    button{
        background-color: rgba(235, 13, 13, 0.938);
        padding: 4px;
        border-radius: 4px;
        color: #222;
    }
    button:hover{
        cursor: pointer;
        background-color: red;
        
    }
} 

@media (max-width:800px){
    .sub-container2{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }
}

@media (max-width:375px){
    .main-container2{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width:428px){
    .main-container2{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
@media (min-width:600px) and (max-width:1320px){
    .main-container2{
       margin: 0;
       padding: 0;
        
    }
    .sub-container1,
    .sub-container2{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
        
    }
    .sub-container2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }
}